@import '../../styles/variables';
@import '../../styles/mixins';
.navbar {
  padding-top: 2em;
  padding-bottom: 1em;
  box-shadow: 5px 5px 10px #e3e3e3, -5px -5px 10px #ffffff;

  .navbar-toggler {
    border: none;
    &:focus {
      box-shadow: none;
    }
  }
  .logo {
    img {
      max-width: 70px;
    }
  }
  .plate-icon {
    max-width: 35px;
  }
  .nav-item {
    margin: 0 1em;
    font-weight: 500;
  }
  .nav-active {
    &::after {
      content: '';
      display: block;
      height: 3px;
      width: 100%;
      background-color: $primary-color;
    }
  }
}
@media (max-width: $md) {
  .navbar {
    .nav-item {
      @include justify-center;
    }
  }
}
@media (max-width: $xs) {
  .navbar {
    .plate-icon {
      max-width: 35px;
    }
    .logo {
      img {
        max-width: 45px;
      }
    }
    .nav-item {
      margin: 0.5em 0 0 0;
      @include justify-center;
    }
  }
}
