<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Confirmation</title>
  </head>
  <body style="font-family: sans-serif; color: #5e5e5e">
    <div style="max-width: 600px; margin: auto">
      <img
        src="https://drive.google.com/uc?export=view&id=1O1PONuPeM-eyxnK3hg14kVVKMlc60xig"
        alt="eat-it logo"
        style="max-width: 100px"
      />
      <hr style="opacity: 0.3" />
      <p>Dear {{buyerName}},</p>
      <p>Thank you for ordering from eatit. 🥰</p>
      <p>
        Your order with id <strong>{{orderID}}</strong> has confirmed 🎉.Take
        your time, get ready and reach the restaurant to take away or dine in
        for your ordered food items.
      </p>
      <img
        src="http://www.washingtonpost.com/r/2010-2019/WashingtonPost/2017/03/29/Weekend/Images/Weekend0331methode.gif"
        alt="food"
        style="width: 100%"
      />
      <div>
        <h4
          style="
            padding: 0.5em;
            width: fit-content;
            background-color: #f7951e;
            color: #ffffff;
          "
        >
          Order Details
        </h4>
        <p>You have ordered total <span id="numberOfItems"></span> items</p>
        <p id="orders">{{orderDetails}}</p>
        <p>Sub Total: {{totalPrice}} <span id="sub-total"></span>/-</p>
        <p>{{restaurantName}}, {{restaurantLocation}}</p>
      </div>
      <hr style="opacity: 0.3" />
      <p>
        In case you face any difficulty, feel free to reach our customer care
        representative at <strong>+919873566534</strong> or mail us at
        <strong>help.eatit@gmail.com</strong>
      </p>
      <p>Thank You ❤️</p>
    </div>
  </body>
</html>
