@import '../../styles/variables';
@import '../../styles/mixins';
.plate-item-table {
  .table-head {
    margin-bottom: 2em;
    background-color: $primary-color;
    color: $white;
    padding: 1em;
    h5 {
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
      font-size: 1em;
      margin: 0;
    }
  }
  .sub-total {
    border-top: 2px solid #cccccc;
    padding-top: 2em;
    margin-top: 2em;
    color: #555555;
    text-align: right;
    p {
      color: #a0a0a0;
      text-align: right;
      span {
        color: #333333;
      }
      .price {
        margin-left: 80px;
      }
    }
    h4 {
      .price {
        background-color: $primary-color;
        font-weight: 700;
        color: $white;
        padding: 0.2em 0.4em;
        margin-left: 50px;
        border-radius: 3px;
      }
    }
  }
}
