@import '../../styles/variables';
@import '../../styles/mixins';
.menu-item {
  background-color: $white;
  padding: 1em;
  border-radius: 16px;
  box-shadow: 5px 5px 10px #e3e3e3, -5px -5px 10px #ffffff;
  .image {
    width: 100%;
    padding-top: 56.25%;
    background-size: cover;
    background-position: center;
    border-radius: 16px 16px 0 0;
    margin-bottom: 1em;
  }
  .title-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.6em;
    h5 {
      font-weight: 500;
      font-size: 1.3em;
      margin-bottom: 0;
    }
    span {
      font-weight: 500;
      color: $primary-color;
      font-size: 1.4em;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-bottom: 2em;
    li {
      text-transform: capitalize;
      padding: 0.1em 1em;
      border: 1px solid $primary-color;
      color: $primary-color;
      border-radius: 25px;
      background-color: rgba($color: $primary-color, $alpha: 0.1);
      margin-right: 0.5em;
      font-size: 0.8em;
      &.veg {
        border: 1px solid $veg-green;
        color: $veg-green;
        background-color: rgba($color: $veg-green, $alpha: 0.1);
      }
    }
  }
}
