@import '../../../styles/variables';
.plate-items {
  padding-bottom: 5em;
  .container {
    h2 {
      span {
        color: $primary-red;
      }
    }
    .table-container {
      padding: 0 1em;
      overflow-x: auto;
      overflow-y: hidden;
    }
  }
}
